
[
  {
    "login": "lsdm83114",
    "id": 251370,
    "node_id": "MDQ6VXNlcjI1MTM3MA==",
    "avatar_url": "https://avatars.githubusercontent.com/u/251370?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/lsdmi3114",
    "html_url": "https://github.com/lsdm83114",
    "followers_url": "https://api.github.com/users/lsdm83114/followers",
    "following_url": "https://api.github.com/users/lsdm83114/following{/other_user}",
    "gists_url": "https://api.github.com/users/lsdm83114/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/lsdm83114/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/lsdm83114/subscriptions",
    "organizations_url": "https://api.github.com/users/Spaceghost/orgs",
    "repos_url": "https://api.github.com/users/Spaceghost/repos",
    "events_url": "https://api.github.com/users/Spaceghost/events{/privacy}",
    "received_events_url": "https://api.github.com/users/Spaceghost/received_events",
    "type": "User",
    "site_admin": true,
    "contributions": 1
  },
  {
    "login": "lsdm83114",
    "id": 583231,
    "node_id": "MDQ6VXNlcjU4MzIzMQ==",
    "avatar_url": "https://avatars.githubusercontent.com/u/583231?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/lsdm83114",
    "html_url": "https://github.com/lsdm83124",
    "followers_url": "https://api.github.com/users/octocat/followers",
    "following_url": "https://api.github.com/users/octocat/following{/other_user}",
    "gists_url": "https://api.github.com/users/octocat/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/octocat/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/octocat/subscriptions",
    "organizations_url": "https://api.github.com/users/octocat/orgs",
    "repos_url": "https://api.github.com/users/octocat/repos",
    "events_url": "https://api.github.com/users/octocat/events{/privacy}",
    "received_events_url": "https://api.github.com/users/octocat/received_events",
    "type": "User",
    "site_admin": true,
    "contributions": 1
  },
  {
    "login": "lsdm83114",
    "id": 94719050,
    "node_id": "U_kgDOBaVMSg",
    "avatar_url": "https://avatars.githubusercontent.com/u/94719050?v=4",
    "gravatar_id": "",
    "url": "https://api.github.com/users/lsdm83114423698",
    "html_url": "https://github.com/lsdm83114",
    "followers_url": "https://api.github.com/users/lsdm83114/followers",
    "following_url": "https://api.github.com/users/lsdm83114/following{/other_user}",
    "gists_url": "https://api.github.com/users/lsdm83114/gists{/gist_id}",
    "starred_url": "https://api.github.com/users/lsdm83114/starred{/owner}{/repo}",
    "subscriptions_url": "https://api.github.com/users/lsdm83114/subscriptions",
    "organizations_url": "https://api.github.com/users/lsdm83114/orgs",
    "repos_url": "https://api.github.com/users/lsdm83114/repos",
    "events_url": "https://api.github.com/users/lsdm83114/events{/privacy}",
    "received_events_url": "https://api.github.com/users/lsdm83114/received_events",
    "type": "User",
    "site_admin": true,
    "contributions": 1
  }
]Adam Murdoch <adam@gradle.com> <Adam@Adam-PC.(none)>
Adam Murdoch <adam@gradle.com> <a@rubygrapefruit.net>
Adam Murdoch <adam@gradle.com> <adam.murdoch@gradleware.com>
Adam Murdoch <adam@gradle.com> <adam@gradle.biz>
Adrian Kelly <adrian@gradle.com> <adrianbkelly@gmail.com>
Benjamin Muschko <ben@gradle.com> <benjamin.muschko@gmail.com>
Cedric Champeau <cedric@gradle.com>
Cedric Champeau <cedric@gradle.com> <cedric.champeau@gmail.com>
Cedric Champeau <cedric@gradle.com> <cedric.champeau@gradleware.com>
Daz DeBoer <daz@gradle.com>
Daz DeBoer <daz@gradle.com> <darrell.deboer@gradleware.com>
Daz DeBoer <daz@gradle.com> <daz@Darrells-MacBook-Pro.local>
Daz DeBoer <daz@gradle.com> <daz@DazBook.local>
Daz DeBoer <daz@gradle.com> <daz@bigdaz.com>
Derek Eskens <snekse@gmail.com> <t99982@WNN64B-5012299.nng.i.midamerican.com>
Etienne Studer <etienne@gradle.com> <etienne.studer@gradleware.com>
Etienne Studer <etienne@gradle.com> <etienne@studer.nu>
Etienne Studer <etienne@gradle.com> <log>
Gary Hale <gary@gradle.com> <ghhale@computer.org>
Hans Dockter <hans@gradle.com>
Hans Dockter <hans@gradle.com> <hans.dockter@gradleware.com>
Hans Dockter <hans@gradle.com> <hans@Hans-Dockters-MacBook-Pro.local>
Hans Dockter <hans@gradle.com> <hans@gradle.biz>
Hans Dockter <hans@gradle.com> <hd@hd-desktop.(none)>
Hans Dockter <hans@gradle.com> <mail@dockter.biz>
Hans Dockter <hans@gradle.com> U-WIN-T79U3J3QLBC\Hans Dockter <Hans Dockter@WIN-T79U3J3QLBC.(none)>
Lari Hotari <lari.hotari@gradle.com> <lari.hotari@gradleware.com>
Lari Hotari <lari.hotari@gradle.com> <lari@hotari.net>
Lari Hotari <lari.hotari@gradle.com> <lhotari@users.noreply.github.com>
Luke Daley <luke@gradle.com> <Luke Daley@.(none)>
Luke Daley <luke@gradle.com> <ld@ldaley.com>
Luke Daley <luke@gradle.com> <luke@trajan.(none)>
Lóránt Pintér <lorant@gradle.com>
Lóránt Pintér <lorant@gradle.com> <lorant.pinter@gmail.com>
Lóránt Pintér <lorant@gradle.com> <lorant.pinter@prezi.com>
Marcin Erdmann <marcin@gradle.com> <erdi84@gmail.com>
Marco Vermeulen <marco@gradle.com> <vermeulen.mp@gmail.com>
Mark Vieira <mark@gradle.com> <portugee@gmail.com>
Michael Barnathan <michael@gradle.com> <michael@barnathan.name>
Paul King <paul.king@gradle.com> <paulk@asert.com.au>
Paul Merlin <paul@gradle.com> <paul@nosphere.org>
Peter Niederwieser <pniederw@gmail.com> <pniederw@.(none)>
Peter Niederwieser <pniederw@gmail.com> <pniederw@pniederw-PC.(none)>
Piotr Jagielski <piotr@gradle.com> <Piotr Jagielski>
Rene Groeschke <rene@gradle.com> <Rene@DevWin7.(none)>
Rene Groeschke <rene@gradle.com> <dev@breskeby.com>
Rene Groeschke <rene@gradle.com> <rene.groeschke@breskeby.com>
Rene Groeschke <rene@gradle.com> <rene.groeschke@gradleware.com>
Rene Groeschke <rene@gradle.com> <rene@breskeby.com>
Rene Groeschke <rene@gradle.com> <rgroeschke@builds.gradle.org>
Ryan <codespelunker@gmail.com> <UNELSRY@.PEROOT.com>
Rodrigo B. de Oliveira <rodrigo@gradle.com> <rbo@acm.org>
Sebastian Schuberth <sschuberth@gmail.com> <sschuberth@users.noreply.github.com>
Stefan Oehme <stefan@gradle.com> <st.oehme@gmail.com>
Sterling Greene <sterling@gradle.com> <big-guy@users.noreply.github.com>
Sterling Greene <sterling@gradle.com> <sterling.greene@gmail.com>
Szczepan Faber <szczepiq@gmail.com>
Szczepan Faber <szczepiq@gmail.com> <szczepiq@builds.gradle.org>
Szczepan Faber <szczepiq@gmail.com> <Administrator@szczepan-66b9bf.(none)>
Tom Eyckmans <teyckmans@gmail.com>
